@font-face {
  font-family: 'SloopScriptPro';
  src: url('@/assets/fonts/SloopScriptPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('@/assets/fonts/HelveticaNowDisplay-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Revive80Signature';
  src: url('@/assets/fonts/Revive80Signature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SloopScriptPro';
  src: url('@/assets/fonts/SloopScriptPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.button {
    @apply max-w-full w-full md:max-w-fit
           p-2 px-4 border border-black
           text-xs md:text-base uppercase
           relative overflow-hidden
           transition-colors duration-300
           hover:text-white;
  }

  .button::before {
    content: "";
    @apply absolute inset-0 bg-black
           translate-y-full
           transition-transform duration-300;
  }

  .button:hover::before {
    @apply translate-y-0;
  }

  .button > span {
    @apply relative z-10;
  }
