@font-face {
  font-family: 'SloopScriptPro';
  src: url('@/assets/fonts/SloopScriptPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('@/assets/fonts/HelveticaNowDisplay-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Revive80Signature';
  src: url('@/assets/fonts/Revive80Signature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SloopScriptPro';
  src: url('@/assets/fonts/SloopScriptPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}